.toolbar {
  background: $primary;
  padding: 1rem 1rem 0 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 0.75rem solid $dark;
}

.toolbar__panel {
  margin-bottom: 1rem;
}

.toolbar__panel--search {
  display: flex;
}

.toolbar__panel--buttons {
  display: flex;
  justify-content: flex-end;
}

.toolbar__search {
  font-size: 1.5rem;
  width: 100%;
  background: transparent;
  color: $light;
  border: none;
  border-bottom: 1px solid $light;
  transition: border-bottom-color 0.3s ease-in-out;
  &:focus {
    color: $white;
    border-bottom-color: $white;
  }

  &::placeholder {
    color: $light;
  }
}

.toolbar__clearsearch {
  border: none;
  background: transparent;
  border-bottom: 1px solid $light;
  transition: border-bottom-color 0.3s ease-in-out;

  & path:not([fill]) {
    fill: $white;
  }

  & svg {
    transition: opacity 0.3s ease-in-out;
  }

  &:disabled svg {
    opacity: 0.1;
  }
}

.toolbar__search:focus + .toolbar__clearsearch {
  color: $white;
  border-bottom-color: $white;
}

.toolbar__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $dark;
  color: $white;
  border: none;
  font-size: 1rem;

  > * {
    padding: 0.25rem;
  }

  & path:not([fill]) {
    fill: $white;
  }
}

.toolbar__button--wide {
  min-width: 8rem;
}
